*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    background-color: #D9CDF8 ;
    height: 100vh;
}
.card-produto{
    display: flex;
    align-items: center;
    width: 100%;
}

.produto-imagem {
    width: 65%;
    position: relative;
    display: flex;
}
.prod-desc-preco-btn{
    display:flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}
.produto-imagem img.btn360{
    position: absolute;
    right: 15%;
    width: 5%;
    cursor: pointer;
    z-index: 1;
}
.prod-img{
    z-index: 0;
    width: 100%;
}

.produto-imagem img.btn360:hover{
    transform: scale(1.1);
}
.prod-codigo{
font-size: 14px;
}
h1.prod-name{
    font-family: 'Crimson Pro', serif;
    font-size: 36px;
}
.prod-preco{
    font-size: 20px;
}

.prod-add{
    width: 30%;
    text-align: center;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid black;
}
@media(max-width:600px){
    .card-produto{
        flex-direction: column!important;
        justify-content: center;
        padding: 0px 20px;
    }
    .produto-imagem,
    .prod-desc-preco-btn{
        width: 100%;
    }
    .produto-imagem img.btn360{
        width: 10%;
    }
    .prod-add{
        width: 50%;
}
}